.embla {
  /* overflow-y: visible; */
  height: 100%;
  /* overflow-x: hidden; */
}

.embla__container {
  display: flex;
  gap: 12px;
}

/* .embla__slide {
  flex: 0 0 50%;
} */



.embla__slide {
  flex: 0 0 100%;
}

/* Tablet */
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 25%;
  }
}

/* md */
/* @media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 33.333%;
  }
} */

/* lg */
/* @media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 16.666%;
  }
} */


/* DOT CONTAINER */
.embla__dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
}

/* DEFAULT DOT */
.embla__dot {
  width: 8px;
  height: 8px;
  background: #d1d5db; /* muted */
  border-radius: 9999px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  padding: 0;
}

/* ACTIVE DOT */
.embla__dot.is-active {
  width: 24px;
  background: var(--color-primary); /* primary */
}
